<div class="container">
  <div class="row firstCard">
    <div class="photo col-md-4">
      <div class="photo">
        <img src="../assets/myphoto.jpg" class="myphoto" alt="myPhoto">
      </div>
    </div>
    <div class="details col-md-8">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#home" role="tab" data-toggle="tab">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projects" role="tab" data-toggle="tab">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact" role="tab" data-toggle="tab">Contact</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
              <h3>Hello!</h3>
              <p> I'm Janderson Brito, a 30 year old game developer living in Fundão City.
                I've been programming games and sites since I was 26, and have worked on a number of projects.</p>
              <p>I studied Digital Games at Estacio de Sá, made Post Graduation on Programing Games at Unichristus and
                Game Design at Universidade Beira do Interior.</p>

              <p> When I'm not making games, I'm studing French, Angular, React, NestJS, also playing Magic The
                Gathering, Dead By Daylight and Lord of The Rings Online </p>
              <a href="">Resume</a>
            </div>
            <div role="tabpanel" class="tab-pane" id="projects">
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <div class="card scale-on-hover" style="width: 15rem;">
                    <img src="../assets/01.png" class="card-img-top" alt="">
                  </div>
                </div>

                <div class="col-md-6 col-lg-4">
                  <div class="card scale-on-hover" style="width: 15rem;">
                    <img src="../assets/01.png" class="card-img-top" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="card scale-on-hover" style="width: 15rem;">
                    <img src="../assets/01.png" class="card-img-top" alt="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <div class="card scale-on-hover" style="width: 15rem;">
                    <img src="../assets/01.png" class="card-img-top" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="card scale-on-hover" style="width: 15rem;">
                    <img src="../assets/01.png" class="card-img-top" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="contact">
              <h3>Do you have an idea? Let's work on then!</h3>
              <form>
                <div class="form-row">
                  <div class="col">
                    <input type="name" class="form-control" placeholder="Name">
                  </div>
                  <div class="col">
                    <input type="email" class="form-control" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="Textarea">Mensage</label>
                  <textarea class="form-control" id="Textarea" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-primary">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>